In [1]:
import pandas as pd
import numpy as np

In [2]:
auctions = pd.read_csv('../datos_tp2/auctions.csv', low_memory=False)

In [3]:
auctions[['ref_type_id', 'source_id']] = auctions[['ref_type_id', 'source_id']].astype("category")
auctions.loc[:, "date"] = pd.to_datetime(auctions["date"], errors = "coerce")

In [4]:
auctions.dtypes

date           datetime64[ns]
device_id               int64
ref_type_id          category
source_id            category
dtype: object

In [5]:
auctions.isnull().sum().sum()

0

In [6]:
auctions.head()

                        date            device_id ref_type_id source_id
0 2019-04-23 18:58:00.842116  2564673204772915246           1         0
1 2019-04-23 18:58:01.530771  4441121667607578179           7         0
2 2019-04-23 18:58:01.767562  7721769811471055264           1         0
3 2019-04-23 18:58:02.363468  6416039086842158968           1         0
4 2019-04-23 18:58:02.397559  1258642015983312729           1         0

In [7]:
auctions['ref_type_id'].value_counts()

1    40330743
7     7078785
Name: ref_type_id, dtype: int64

Seguimos teniendo solo 2 tipos de ref_type_id. Asumimos que esto nos puede ayudar a distinguir si se llegar a repetir un device_id, cosa poco probable, entre uno de un empresa u otra (android o iphone)

Ac√° tenemos las subastas, vamos a calcular el tiempo promedio que tarda en aparecer cada dispositivo

In [8]:
auctions.groupby(['device_id'])['date'].nunique()

device_id
40621409780134           1
41863526108385          35
69039685746313           4
135153013040192          8
161514654074162          6
168103949904656          1
181891380775191          1
186034136943920         66
283297668933729          1
295841792051458          1
345999128501141         74
360710529886978         56
365882020742330          7
407152743717620          1
416301579449694        111
456015810461357          2
473668258229864         49
475635010681369          1
501790157110512         77
519199987760489          5
526030445561483         23
530786270564316         10
558877640599287          1
607090818352855          2
608739959707707          2
622102439689666         30
627959756577621         15
643594200494946          7
645011308561636          6
651957297814003          3
                      ...
9222802779964047967     63
9222809061253378785    423
9222820903899321555     13
9222825313616050213     19
9222828776091827087     85
9222830073132521659     87
9222833096174851045      7
9222846891248817195      1
9222848912066710170     11
9222856470568969120      9
9222891164638072546      6
9222941581432951568     27
9222948803125074466    217
9222949346293344736     61
9222957264925735246      2
9222980782941976521     11
9223059472116696420     19
9223135580643723279      7
9223145249047741674    112
9223163483138526566     73
9223186171940415898    275
9223189551280812934     47
9223229584859890420     79
9223231006535555583     22
9223238938580369700     88
9223252295312976945     19
9223285798152466987     62
9223343217005320170      5
9223356715682543611    245
9223365873867066370    105
Name: date, Length: 475338, dtype: int64

In [9]:
auctions['devices_counter'] = auctions.groupby(['device_id'])['date'].transform('count')

In [12]:
auctions.loc[auctions['device_id'] == 41863526108385]

,date,device_id,ref_type_id,source_id,devices_counter
12309522,2019-04-20 04:18:20.551701,41863526108385,1,3,35
12309932,2019-04-20 04:22:21.129288,41863526108385,1,5,35
12654048,2019-04-20 03:15:25.579598,41863526108385,1,3,35
12676157,2019-04-20 04:22:51.173385,41863526108385,1,3,35
12690007,2019-04-20 03:11:41.011671,41863526108385,1,3,35
12690107,2019-04-20 03:12:57.482482,41863526108385,1,3,35
14875535,2019-04-20 02:52:26.892880,41863526108385,1,3,35
21537451,2019-04-20 04:30:19.920750,41863526108385,1,3,35
21541289,2019-04-20 03:27:12.676489,41863526108385,1,3,35
21547286,2019-04-20 03:17:35.306737,41863526108385,1,3,35
21605090,2019-04-20 04:14:51.152094,41863526108385,1,3,35
22360800,2019-04-20 04:22:21.081400,41863526108385,1,3,35
22364882,2019-04-20 03:20:23.061467,41863526108385,1,3,35
22374394,2019-04-20 03:11:26.463903,41863526108385,1,3,35
25758539,2019-04-20 04:13:13.180181,41863526108385,1,8,35
25769300,2019-04-20 04:25:21.216428,41863526108385,1,3,35
25769438,2019-04-20 04:26:36.331864,41863526108385,1,3,35
30900602,2019-04-19 19:40:28.465866,41863526108385,1,8,35
32035934,2019-04-20 03:17:49.278956,41863526108385,1,3,35
32062481,2019-04-20 02:59:02.509230,41863526108385,1,3,35
32086649,2019-04-20 03:17:36.978658,41863526108385,1,3,35
32117587,2019-04-20 04:24:03.008441,41863526108385,1,3,35
40811049,2019-04-20 03:14:56.144108,41863526108385,1,3,35
41468705,2019-04-20 04:13:09.063884,41863526108385,1,8,35
41470261,2019-04-20 04:17:34.968802,41863526108385,1,3,35
41486188,2019-04-20 04:16:52.698807,41863526108385,1,3,35
41488027,2019-04-20 04:21:48.654866,41863526108385,1,3,35
41488256,2019-04-20 04:23:37.029095,41863526108385,1,3,35
41545240,2019-04-20 04:22:21.145152,41863526108385,1,5,35
42215232,2019-04-20 03:08:57.388160,41863526108385,1,3,35
42215538,2019-04-20 03:12:26.681062,41863526108385,1,5,35
43478809,2019-04-20 03:28:12.624156,41863526108385,1,3,35
45482985,2019-04-20 04:29:54.298498,41863526108385,1,8,35
45605567,2019-04-20 03:27:43.043882,41863526108385,1,3,35
45613542,2019-04-20 03:06:01.675788,41863526108385,1,3,35

In [20]:
auctions = auctions.sort_values(by=['device_id', 'date'])

In [23]:
auctions['device_dif'] = auctions['device_id'].diff()
auctions['date_dif'] = auctions['date'].diff()

In [24]:
auctions['is_date_dif_valid'] = np.where(auctions['device_dif']==0, True, False)

In [25]:
#auctions['St']
auctions.head()

,date,device_id,ref_type_id,source_id,devices_counter,device_dif,date_dif,is_date_dif_valid
36601349,2019-04-23 15:00:57.222979,40621409780134,1,0,1,NaN,NaT,False
30900602,2019-04-19 19:40:28.465866,41863526108385,1,8,35,1.242116e+12,-4 days +04:39:31.242887,False
14875535,2019-04-20 02:52:26.892880,41863526108385,1,3,35,0.000000e+00,0 days 07:11:58.427014,True
32062481,2019-04-20 02:59:02.509230,41863526108385,1,3,35,0.000000e+00,0 days 00:06:35.616350,True
45613542,2019-04-20 03:06:01.675788,41863526108385,1,3,35,0.000000e+00,0 days 00:06:59.166558,True

In [31]:
# auctions_with_valid_date_diff
valid_auctions = auctions.loc[auctions['is_date_dif_valid'] == True]
valid_auctions
#valid_auctions['St'] = valid_auctions.groupby(['device_id'])['date_dif'].transform('mean')
#valid_auctions

,date,device_id,ref_type_id,source_id,devices_counter,device_dif,date_dif,is_date_dif_valid
14875535,2019-04-20 02:52:26.892880,41863526108385,1,3,35,0.0,07:11:58.427014,True
32062481,2019-04-20 02:59:02.509230,41863526108385,1,3,35,0.0,00:06:35.616350,True
45613542,2019-04-20 03:06:01.675788,41863526108385,1,3,35,0.0,00:06:59.166558,True
42215232,2019-04-20 03:08:57.388160,41863526108385,1,3,35,0.0,00:02:55.712372,True
22374394,2019-04-20 03:11:26.463903,41863526108385,1,3,35,0.0,00:02:29.075743,True
12690007,2019-04-20 03:11:41.011671,41863526108385,1,3,35,0.0,00:00:14.547768,True
42215538,2019-04-20 03:12:26.681062,41863526108385,1,5,35,0.0,00:00:45.669391,True
12690107,2019-04-20 03:12:57.482482,41863526108385,1,3,35,0.0,00:00:30.801420,True
40811049,2019-04-20 03:14:56.144108,41863526108385,1,3,35,0.0,00:01:58.661626,True
12654048,2019-04-20 03:15:25.579598,41863526108385,1,3,35,0.0,00:00:29.435490,True
21547286,2019-04-20 03:17:35.306737,41863526108385,1,3,35,0.0,00:02:09.727139,True
32086649,2019-04-20 03:17:36.978658,41863526108385,1,3,35,0.0,00:00:01.671921,True
32035934,2019-04-20 03:17:49.278956,41863526108385,1,3,35,0.0,00:00:12.300298,True
22364882,2019-04-20 03:20:23.061467,41863526108385,1,3,35,0.0,00:02:33.782511,True
21541289,2019-04-20 03:27:12.676489,41863526108385,1,3,35,0.0,00:06:49.615022,True
45605567,2019-04-20 03:27:43.043882,41863526108385,1,3,35,0.0,00:00:30.367393,True
43478809,2019-04-20 03:28:12.624156,41863526108385,1,3,35,0.0,00:00:29.580274,True
41468705,2019-04-20 04:13:09.063884,41863526108385,1,8,35,0.0,00:44:56.439728,True
25758539,2019-04-20 04:13:13.180181,41863526108385,1,8,35,0.0,00:00:04.116297,True
21605090,2019-04-20 04:14:51.152094,41863526108385,1,3,35,0.0,00:01:37.971913,True
41486188,2019-04-20 04:16:52.698807,41863526108385,1,3,35,0.0,00:02:01.546713,True
41470261,2019-04-20 04:17:34.968802,41863526108385,1,3,35,0.0,00:00:42.269995,True
12309522,2019-04-20 04:18:20.551701,41863526108385,1,3,35,0.0,00:00:45.582899,True
41488027,2019-04-20 04:21:48.654866,41863526108385,1,3,35,0.0,00:03:28.103165,True
22360800,2019-04-20 04:22:21.081400,41863526108385,1,3,35,0.0,00:00:32.426534,True
12309932,2019-04-20 04:22:21.129288,41863526108385,1,5,35,0.0,00:00:00.047888,True
41545240,2019-04-20 04:22:21.145152,41863526108385,1,5,35,0.0,00:00:00.015864,True
12676157,2019-04-20 04:22:51.173385,41863526108385,1,3,35,0.0,00:00:30.028233,True
41488256,2019-04-20 04:23:37.029095,41863526108385,1,3,35,0.0,00:00:45.855710,True
32117587,2019-04-20 04:24:03.008441,41863526108385,1,3,35,0.0,00:00:25.979346,True
...,...,...,...,...,...,...,...,...
14901904,2019-04-25 14:47:41.823529,9223365873867066370,1,0,105,0.0,00:01:36.996447,True
20885920,2019-04-25 14:47:44.324365,9223365873867066370,1,1,105,0.0,00:00:02.500836,True
15000663,2019-04-25 14:53:19.347441,9223365873867066370,1,1,105,0.0,00:05:35.023076,True
8460946,2019-04-25 14:53:26.929542,9223365873867066370,1,0,105,0.0,00:00:07.582101,True
11573724,2019-04-25 14:53:30.351866,9223365873867066370,1,0,105,0.0,00:00:03.422324,True
11590078,2019-04-25 14:55:33.072784,9223365873867066370,1,0,105,0.0,00:02:02.720918,True
7999382,2019-04-25 14:57:08.319489,9223365873867066370,1,1,105,0.0,00:01:35.246705,True
5896424,2019-04-25 15:03:13.780923,9223365873867066370,1,0,105,0.0,00:06:05.461434,True
5896434,2019-04-25 15:03:16.900381,9223365873867066370,1,0,105,0.0,00:00:03.119458,True
5900513,2019-04-25 15:03:17.988779,9223365873867066370,1,8,105,0.0,00:00:01.088398,True
14944727,2019-04-25 15:03:48.571382,9223365873867066370,1,0,105,0.0,00:00:30.582603,True
17773630,2019-04-25 15:04:34.552634,9223365873867066370,1,1,105,0.0,00:00:45.981252,True
14944951,2019-04-25 15:05:18.399250,9223365873867066370,1,0,105,0.0,00:00:43.846616,True
14944954,2019-04-25 15:05:19.866292,9223365873867066370,1,0,105,0.0,00:00:01.467042,True
24710805,2019-04-25 15:05:23.647114,9223365873867066370,1,0,105,0.0,00:00:03.780822,True
38444991,2019-04-25 15:07:05.812576,9223365873867066370,1,0,105,0.0,00:01:42.165462,True
20835775,2019-04-25 15:07:51.813912,9223365873867066370,1,1,105,0.0,00:00:46.001336,True
38382062,2019-04-25 15:08:53.951314,9223365873867066370,1,0,105,0.0,00:01:02.137402,True
24708787,2019-04-25 15:10:26.525818,9223365873867066370,1,1,105,0.0,00:01:32.574504,True
10441791,2019-04-25 15:10:45.283362,9223365873867066370,1,1,105,0.0,00:00:18.757544,True
35878528,2019-04-25 15:11:04.193163,9223365873867066370,1,1,105,0.0,00:00:18.909801,True
28145114,2019-04-25 20:37:07.326102,9223365873867066370,1,8,105,0.0,05:26:03.132939,True
28152317,2019-04-25 20:37:12.213159,9223365873867066370,1,0,105,0.0,00:00:04.887057,True
28152348,2019-04-25 20:37:19.739180,9223365873867066370,1,0,105,0.0,00:00:07.526021,True
28086623,2019-04-25 20:37:24.129551,9223365873867066370,1,0,105,0.0,00:00:04.390371,True
32325765,2019-04-25 20:38:04.052089,9223365873867066370,1,0,105,0.0,00:00:39.922538,True
28152864,2019-04-25 20:39:34.931270,9223365873867066370,1,0,105,0.0,00:01:30.879181,True
26787076,2019-04-25 20:39:38.688823,9223365873867066370,1,0,105,0.0,00:00:03.757553,True
26787083,2019-04-25 20:39:39.695737,9223365873867066370,1,0,105,0.0,00:00:01.006914,True
26787094,2019-04-25 20:39:42.038031,9223365873867066370,1,0,105,0.0,00:00:02.342294,True

In [35]:
valid_auctions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46934190 entries, 14875535 to 26787094
Data columns (total 8 columns):
date                 datetime64[ns]
device_id            int64
ref_type_id          category
source_id            category
devices_counter      int64
device_dif           float64
date_dif             timedelta64[ns]
is_date_dif_valid    bool
dtypes: bool(1), category(2), datetime64[ns](1), float64(1), int64(2), timedelta64[ns](1)
memory usage: 2.2 GB

In [37]:
valid_auctions['diff_int64'] = valid_auctions['date_dif'].values.astype(np.int64)

/home/gabriel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
valid_auctions['St'] = valid_auctions.groupby('device_id')[.transform('mean')

,devices_counter,device_dif,is_date_dif_valid,diff_int64
device_id,,,,
41863526108385,35.0,0.0,True,9.350428e+11
69039685746313,4.0,0.0,True,1.487317e+11
135153013040192,8.0,0.0,True,1.141086e+11
161514654074162,6.0,0.0,True,2.463665e+10
186034136943920,66.0,0.0,True,6.486812e+12
345999128501141,74.0,0.0,True,9.787839e+12
360710529886978,56.0,0.0,True,1.302726e+13
365882020742330,7.0,0.0,True,1.025942e+14
416301579449694,111.0,0.0,True,5.027858e+12
456015810461357,2.0,0.0,True,1.028672e+14
473668258229864,49.0,0.0,True,7.324368e+12
501790157110512,77.0,0.0,True,6.754953e+12
519199987760489,5.0,0.0,True,1.139285e+14
526030445561483,23.0,0.0,True,3.066688e+13
530786270564316,10.0,0.0,True,7.188544e+13
607090818352855,2.0,0.0,True,2.807789e+14
608739959707707,2.0,0.0,True,1.475333e+14
622102439689666,30.0,0.0,True,1.213068e+13
627959756577621,15.0,0.0,True,5.001304e+13
643594200494946,7.0,0.0,True,9.521237e+13
645011308561636,6.0,0.0,True,1.200641e+14
651957297814003,3.0,0.0,True,5.063130e+09
663597233188669,2.0,0.0,True,5.646178e+13
686608884458246,111.0,0.0,True,6.803120e+12
693609737448534,65.0,0.0,True,1.054203e+13
717556230663455,452.0,0.0,True,1.308602e+12
732881181016646,8.0,0.0,True,2.329145e+13
755296410475964,32.0,0.0,True,2.286425e+11
799061852287939,38.0,0.0,True,2.041544e+13
810124236311558,2.0,0.0,True,3.124723e+11
...,...,...,...,...
9222762936462056152,46.0,0.0,True,1.293897e+13
9222802779964047967,63.0,0.0,True,5.603953e+12
9222809061253378785,423.0,0.0,True,9.750050e+11
9222820903899321555,13.0,0.0,True,6.364289e+13
9222825313616050213,19.0,0.0,True,4.779998e+12
9222828776091827087,85.0,0.0,True,8.532942e+12
9222830073132521659,87.0,0.0,True,8.432841e+12
9222833096174851045,7.0,0.0,True,4.918991e+13
9222848912066710170,11.0,0.0,True,6.280023e+13
9222856470568969120,9.0,0.0,True,4.472941e+13
9222891164638072546,6.0,0.0,True,3.713808e+11
9222941581432951568,27.0,0.0,True,2.630571e+13
9222948803125074466,217.0,0.0,True,3.155636e+12
9222949346293344736,61.0,0.0,True,1.256273e+13
9222957264925735246,2.0,0.0,True,2.078913e+09
9222980782941976521,11.0,0.0,True,3.012304e+13
9223059472116696420,19.0,0.0,True,4.048942e+13
9223135580643723279,7.0,0.0,True,1.010490e+14
9223145249047741674,112.0,0.0,True,6.401500e+12
9223163483138526566,73.0,0.0,True,9.589534e+12
9223186171940415898,275.0,0.0,True,2.577571e+12
9223189551280812934,47.0,0.0,True,4.641713e+12
9223229584859890420,79.0,0.0,True,7.973651e+12
9223231006535555583,22.0,0.0,True,3.589264e+13
9223238938580369700,88.0,0.0,True,4.135458e+12
9223252295312976945,19.0,0.0,True,1.765067e+13
9223285798152466987,62.0,0.0,True,1.141318e+13
9223343217005320170,5.0,0.0,True,1.232213e+14
9223356715682543611,245.0,0.0,True,3.157967e+12
9223365873867066370,105.0,0.0,True,3.856337e+12