In [1]:
import pandas as pd
import numpy as np

In [2]:
auctions = pd.read_csv('../datos_tp2/auctions.csv', low_memory=False)

In [3]:
auctions[['ref_type_id', 'source_id']] = auctions[['ref_type_id', 'source_id']].astype("category")
auctions.loc[:, "date"] = pd.to_datetime(auctions["date"], errors = "coerce")

In [4]:
auctions.dtypes

date           datetime64[ns]
device_id               int64
ref_type_id          category
source_id            category
dtype: object

In [5]:
auctions.isnull().sum().sum()

0

In [6]:
auctions.head()

                        date            device_id ref_type_id source_id
0 2019-04-23 18:58:00.842116  2564673204772915246           1         0
1 2019-04-23 18:58:01.530771  4441121667607578179           7         0
2 2019-04-23 18:58:01.767562  7721769811471055264           1         0
3 2019-04-23 18:58:02.363468  6416039086842158968           1         0
4 2019-04-23 18:58:02.397559  1258642015983312729           1         0

In [7]:
auctions['ref_type_id'].value_counts()

1    40330743
7     7078785
Name: ref_type_id, dtype: int64

Seguimos teniendo solo 2 tipos de ref_type_id. Asumimos que esto nos puede ayudar a distinguir si se llegar a repetir un device_id, cosa poco probable, entre uno de un empresa u otra (android o iphone)

In [ ]:
auctions.groupby(['device_id'])['date'].nunique()

Ac√° tenemos las subastas, vamos a calcular el tiempo promedio que tarda en aparecer cada dispositivo